*~
*.kdev4
*.xcode
files
.kdev_include_paths
*.log
*.substvars
# cmake build dirs
release/
Release/
debug/
Debug/
build/
Build/

#Packaging##############################
lib/Core/debian/tmp/
obj-x86_64-linux-gnu/
stamp-makefile-build
lib/Core/debian/libisiscore0/
lib/Core/debian/libisiscore0.postrm.debhelper
lib/Core/debian/libisiscore0.postinst.debhelper
lib/Core/debian/libisiscore0-dev/
*.dsc
*.deb
*.tar.gz*
.pc
*changes
lib/ImageIO/debian/isisio0-dicom
lib/ImageIO/debian/isisio0-gz-proxy
lib/ImageIO/debian/isisio0-nifti
lib/ImageIO/debian/isisio0-null
lib/ImageIO/debian/isisio0-vista

#Windows################################
# Windows image file caches
Thumbs.db 
# Folder config file
Desktop.ini

#MacOS##################################
.DS_Store
Icon?
# Thumbnails
._*
# Files that might appear on external disk
.Spotlight-V100
.Trashes

#C++####################################
# Compiled Object files
*.slo
*.lo
*.o
# Compiled Dynamic libraries
*.so
*.dll
# Compiled Static libraries
*.lai
*.la
*.a
*.lib

#CMake##################################
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
install_manifest.txt
build/

#VStudio#################################
# User-specific files
*.suo
*.user
# Build results
Debug/
Release/
*.ncb
*.aps
*.obj
.builds

#eclipse##################################
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
# CDT-specific
.cproject

#Index files##############################
TAGS
tags
BROWSE
*.orig
