language: cpp
compiler:
    - gcc
    - clang
before_install:
  - sudo apt-get update -qq
  - sudo apt-get install cmake libbz2-dev libmuparser-dev liboil-dev libqt4-dev libpng-dev libtiff-dev libdcmtk2-dev libboost-iostreams-dev libboost-filesystem-dev libboost-system-dev libboost-date-time-dev libboost-test-dev help2man liblzma-dev
before_script:
   - mkdir build
   - cd build
   - cmake .. -DISIS_BUILD_TESTS=ON
branches:
  only:
    - master
