Source: isis
Section: science
Priority: optional
Maintainer: Erik Tuerke <tuerke@cbs.mpg.de>
Build-Depends: 
Standards-Version: 3.8.1

Package: libisiscore0
Section: science
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: The ISIS package provides a general I/O framework for neuroimaging
 data.  Being started with fMRI data, it can handle several established data
 formats, like Nifti, Analyze, DICOM and vista. A first application based on this
 project is a data converter that allows an easy and unified handling of fMRI
 data from various MRI scanners. 
 .
 This Package provides the core libraries needed by all applications that
 are build upon ISIS.

Package: libisiscore0-dev
Section: science
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libisiscore0
Description: The ISIS package provides a general I/O framework for neuroimaging
 data.  Being started with fMRI data, it can handle several established data
 formats, like Nifti, Analyze, DICOM and vista. A first application based on this
 project is a data converter that allows an easy and unified handling of fMRI
 data from various MRI scanners. 
 .
 This Package provides all header and library files necessary to develop ISIS based
 applications.

