Source: isis
Section: libs
Priority: optional
Maintainer: NeuroDebian Team <team@neuro.debian.net>
Uploaders: Michael Hanke <mih@debian.org>
Build-Depends: debhelper (>= 7.0.50~), doxygen, cmake, libbz2-dev, libmuparser-dev, libnifti-dev, libvia-dev
Standards-Version: 3.9.2
Homepage: https://github.com/isis-group
Vcs-Browser: http://git.debian.org/?p=pkg-exppsy/isis.git
Vcs-Git: git://git.debian.org/git/pkg-exppsy/isis.git
XS-DM-Upload-Allowed: yes


Package: libisis-plugins
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: data format plugins for the ISIS framework
 This framework aids access of and conversion between various established
 neuro-imaging data formats, like  Nifti, Analyze, DICOM and VISTA. ISIS
 is extensible with plugins to add support for additional data formats.
 .
 This package provides plugins for data in DICOM, NIfTI, PNG, VISTA format,
 raw-data access, as well as plugins for gzip-compression and tar-archive
 support.


Package: libisis-dev
Section: libdevel
Architecture: any
Depends: libisis-plugins (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: I/O framework for neuroimaging data
 This framework aids access of and conversion between various established
 neuro-imaging data formats, like  Nifti, Analyze, DICOM and VISTA. ISIS
 is extensible with plugins to add support for additional data formats.
 .
 This package provides headers and library to develop applications with ISIS.


Package: isis-utils
Section: science
Architecture: any
Depends: libisis-plugins (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: utilities for the ISIS neuroimaging data I/O framework
 This framework aids access of and conversion between various established
 neuro-imaging data formats, like  Nifti, Analyze, DICOM and VISTA. ISIS
 is extensible with plugins to add support for additional data formats.
 .
 This package provides a number of utilities to process neuroimaging data. This
 includes a multi-format converter and tools to inspect image meta data.
