Source: isis
Section: science
Priority: optional
Maintainer: ISIS Group (The friendly isis team) <gr_isis@cbs.mpg.de>
Build-Depends: libnifti1-dev | libnifti-dev | libniftiio-dev, libtiff-dev,liboil-dev
Standards-Version: 3.8.1

Package: libisiscore0
Section: science
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libisiscore0 (= 0.4.4gca0af59-0)
Description: The ISIS package provides a general I/O framework for neuroimaging
 data.  Being started with fMRI data, it can handle several established data
 formats, like Nifti, Analyze, DICOM and vista. A first application based on this
 project is a data converter that allows an easy and unified handling of fMRI
 data from various MRI scanners. 
 .
 This Package provides the core libraries needed by all applications that
 are build upon ISIS.

Package: libisiscore0-dev
Section: science
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libisiscore0 (= 0.4.4gca0af59-0), libboost-filesystem1.35-dev | libboost-filesystem-dev, libboost-regex1.35-dev | libboost-regex-dev, libboost-date-time1.35-dev | libboost-date-time-dev, libboost-system1.35-dev | libboost-system-dev, libboost-iostreams1.35-dev | libboost-iostreams-dev
Description: The ISIS package provides a general I/O framework for neuroimaging
 data.  Being started with fMRI data, it can handle several established data
 formats, like Nifti, Analyze, DICOM and vista. A first application based on this
 project is a data converter that allows an easy and unified handling of fMRI
 data from various MRI scanners. 
 .
 This Package provides all header and library files necessary to develop ISIS based
 applications.

Package: isisio0-dicom
Section: science
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libisiscore0 (= 0.4.4gca0af59-0)
Description: The ISIS package provides a general I/O framework for neuroimaging
 data.  Being started with fMRI data, it can handle several established data
 formats, like Nifti, Analyze, DICOM and vista. A first application based on this
 project is a data converter that allows an easy and unified handling of fMRI
 data from various MRI scanners. 
 .
 This Package provides the ISIS I/O plugins for the DICOM support.

Package: isisio0-nifti
Section: science
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libisiscore0 (= 0.4.4gca0af59-0)
Description: The ISIS package provides a general I/O framework for neuroimaging
 data.  Being started with fMRI data, it can handle several established data
 formats, like Nifti, Analyze, DICOM and vista. A first application based on this
 project is a data converter that allows an easy and unified handling of fMRI
 data from various MRI scanners. 
 .
 This Package provides the ISIS I/O plugins for the NIFTI support.

Package: isisio0-nifti-sa
Section: science
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libisiscore0 (= 0.4.4gca0af59-0)
Description: The ISIS package provides a general I/O framework for neuroimaging
 data.  Being started with fMRI data, it can handle several established data
 formats, like Nifti, Analyze, DICOM and vista. A first application based on this
 project is a data converter that allows an easy and unified handling of fMRI
 data from various MRI scanners. 
 .
 This Package provides the ISIS I/O standalone plugins for the NIFTI support.

Package: isisio0-vista
Section: science
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libisiscore0 (= 0.4.4gca0af59-0)
Description: The ISIS package provides a general I/O framework for neuroimaging
 data.  Being started with fMRI data, it can handle several established data
 formats, like Nifti, Analyze, DICOM and vista. A first application based on this
 project is a data converter that allows an easy and unified handling of fMRI
 data from various MRI scanners. 
 .
 This Package provides the ISIS I/O plugins for the VISTA support.

Package: isisio0-gz-proxy
Section: science
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libisiscore0 (= 0.4.4gca0af59-0)
Description: The ISIS package provides a general I/O framework for neuroimaging
 data.  Being started with fMRI data, it can handle several established data
 formats, like Nifti, Analyze, DICOM and vista. A first application based on this
 project is a data converter that allows an easy and unified handling of fMRI
 data from various MRI scanners. 
 .
 This Package provides the ISIS I/O plugins for the gzip proxy support. The gzip
 proxy uses the gnuzip implementation to create a compressed archive file from
 any other ISIS image IO plugin.

Package: isisio0-tar-proxy
Section: science
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libisiscore0 (= 0.4.4gca0af59-0)
Description: The ISIS package provides a general I/O framework for neuroimaging
 data.  Being started with fMRI data, it can handle several established data
 formats, like Nifti, Analyze, DICOM and vista. A first application based on this
 project is a data converter that allows an easy and unified handling of fMRI
 data from various MRI scanners.
 .
 This Package provides the ISIS I/O plugins for the tar support. 

Package: isisio0-raw
Section: science
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libisiscore0 (= 0.4.4gca0af59-0)
Description: The ISIS package provides a general I/O framework for neuroimaging
 data.  Being started with fMRI data, it can handle several established data
 formats, like Nifti, Analyze, DICOM and vista. A first application based on this
 project is a data converter that allows an easy and unified handling of fMRI
 data from various MRI scanners.
 .
 This Package provides the ISIS I/O plugins for the raw data support. 

Package: isisio0-png
Section: science
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libisiscore0 (= 0.4.4gca0af59-0)
Description: The ISIS package provides a general I/O framework for neuroimaging
 data.  Being started with fMRI data, it can handle several established data
 formats, like Nifti, Analyze, DICOM and vista. A first application based on this
 project is a data converter that allows an easy and unified handling of fMRI
 data from various MRI scanners.
 .
 This Package provides the ISIS I/O plugins for the png data support. 

Package: isisio0-flist-proxy
Section: science
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libisiscore0 (= 0.4.4gca0af59-0)
Description: The ISIS package provides a general I/O framework for neuroimaging
 data.  Being started with fMRI data, it can handle several established data
 formats, like Nifti, Analyze, DICOM and vista. A first application based on this
 project is a data converter that allows an easy and unified handling of fMRI
 data from various MRI scanners.
 .
 This Package provides the ISIS I/O plugins for flist support.

Package: isisio0-process-proxy
Section: science
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libisiscore0 (= 0.4.4gca0af59-0)
Description: The ISIS package provides a general I/O framework for neuroimaging
 data.  Being started with fMRI data, it can handle several established data
 formats, like Nifti, Analyze, DICOM and vista. A first application based on this
 project is a data converter that allows an easy and unified handling of fMRI
 data from various MRI scanners.
 .
 This Package provides the ISIS I/O plugins for process support.

Package: isis-utils
Section: science
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libisiscore0 (= 0.4.4gca0af59-0)
Recommends: isisio0-common
Description: The ISIS package provides a general I/O framework for neuroimaging
 data.  Being started with fMRI data, it can handle several established data
 formats, like Nifti, Analyze, DICOM and vista. A first application based on this
 project is a data converter that allows an easy and unified handling of fMRI
 data from various MRI scanners. 
 .
 This Package provides a number of utilities to handle neuroimaging data. This includes
 a multi-format converter and tools to inspect the image meta data.

Package: libisis-qt4
Section: science
Conflicts: isis-qt4
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libisiscore0 (= 0.4.4gca0af59-0), libqt4-core
Description: The ISIS package provides a general I/O framework for neuroimaging
 data.  Being started with fMRI data, it can handle several established data
 formats, like Nifti, Analyze, DICOM and vista. A first application based on this
 project is a data converter that allows an easy and unified handling of fMRI
 data from various MRI scanners. 
 .
 This Package provides a bridge to qt4 applications.

Package: libisis-qt4-dev
Section: science
Conflicts: isis-qt4-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libisiscore0-dev (= 0.4.4gca0af59-0), libisis-qt4, libqt4-dev
Description: The ISIS package provides a general I/O framework for neuroimaging
 data.  Being started with fMRI data, it can handle several established data
 formats, like Nifti, Analyze, DICOM and vista. A first application based on this
 project is a data converter that allows an easy and unified handling of fMRI
 data from various MRI scanners. 
 .
 This Package provides the development files for the bridge to qt4 applications.

Package: isis-itk
Section: science
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libisiscore0-dev (= 0.4.4gca0af59-0)
Recommends: libinsighttoolkit3-dev (>= 3.6.0 )
Description: The ISIS package provides a general I/O framework for neuroimaging
 data.  Being started with fMRI data, it can handle several established data
 formats, like Nifti, Analyze, DICOM and vista. A first application based on this
 project is a data converter that allows an easy and unified handling of fMRI
 data from various MRI scanners. 
 .
 This Package provides a bridge to itk insight toolkit library.

Package: isis-python
Section: science
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libisiscore0 (= 0.4.4gca0af59-0)
Description: The ISIS package provides a general I/O framework for neuroimaging
 data.  Being started with fMRI data, it can handle several established data
 formats, like Nifti, Analyze, DICOM and vista. A first application based on this
 project is a data converter that allows an easy and unified handling of fMRI
 data from various MRI scanners. 
 .
 This Package provides a bridge to the python language.

Package: isisio0-common
Section: science
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libisiscore0 (= 0.4.4gca0af59-0), isisio0-nifti-sa, isisio0-raw, isisio0-tar-proxy, isisio0-gz-proxy, isisio0-flist-proxy, isisio0-process-proxy
Description: The ISIS package provides a general I/O framework for neuroimaging
 data.  Being started with fMRI data, it can handle several established data
 formats, like Nifti, Analyze, DICOM and vista. A first application based on this
 project is a data converter that allows an easy and unified handling of fMRI
 data from various MRI scanners. 
 .
 This is the common io package which consists of all plugins that have no dependencies. 
 It replaces the packages isisio0-nifti-sa, isisio0-raw, isisio0-tar-proxy, isisio0-flist-proxy, isisio0-process-proxy and isisio0-gz-proxy
