#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/cmake.mk

DEB_CMAKE_EXTRA_FLAGS = \
	-DCMAKE_BUILD_TYPE="Release" \
	-DCMAKE_C_COMPILER="/usr/bin/gcc" \
	-DBUILD_SHARED_LIBS:BOOL=ON \
	-DCMAKE_SKIP_RPATH:BOOL=OFF \
	-DISIS_DEBUG_LOG:BOOL=OFF \
	-DISIS_BUILD_STATIC_AND_SHARED:BOOL=ON \
	-DISIS_APPS_CALC:BOOL=ON \
	-DISIS_BUILD_TOOLS:BOOL=ON \
	-DISIS_IOPLUGIN_DICOM:BOOL=ON \
	-DISIS_IOPLUGIN_NIFTI:BOOL=ON \
	-DISIS_IOPLUGIN_NIFTI_SA:BOOL=ON \
	-DISIS_IOPLUGIN_PNG:BOOL=ON \
	-DISIS_IOPLUGIN_VISTA:BOOL=ON \
	-DISIS_QT4:BOOL=ON \
	-DISIS_ITK:BOOL=ON \
	-DISIS_BUILD_PYTHON_EXT:BOOL=ON \
	-DISIS_USE_LIBOIL:BOOL=ON \
	-DQT_QMAKE_EXECUTABLE=/usr/bin/qmake-qt4 \
	-DLIB_DCMDATA=/usr/lib/libdcmdata.a \
	-DLIB_DCMIMAGE=/usr/lib/libdcmimage.a \
	-DLIB_DCMIMGLE=/usr/lib/libdcmimgle.a \
	-DLIB_OFSTD=/usr/lib/libofstd.a \

# get number of parallel builds from the default environment
# variable DEB_BUILD_OPTIONS. The expected value is 'parrallel=#'.
ifneq (,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
	NUMJOBS = $(patsubst parallel=%,%,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
    MAKEFLAGS += -j$(NUMJOBS)
endif

